.cardlist {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    // padding: 50px;
    background-color: #0f2027;
    height: 100%;
    width: 100%;
    // width: 400px;
    // border: 2px solid red;
    padding: 50px;
  }
  